jupyter==1.0.0
pandas==1.0.3
nltk==3.5
#spacy==2.2.4
matplotlib==3.2.1
seaborn==0.10.1
#python-igraph==0.8.2
networkx==2.4
jupytext==1.4.2
python-louvain==0.14
dash==1.13.2
dash-cytoscape==0.0.5
sklearn
gensim
pyLDAvis
